/* Define header image properties */
header {
  background: url('../assets/images/www-banner.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.tabs .indicator {
  background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  opacity: 0.5;
} 
.nav-wrapper {
  background-color: rgb(0,0,0,0.1) !important;
}
.brand-logo {
  background-color: rgb(0,0,0,0.2) !important;
}

/* Media queries for smaller displays */
@media screen and (max-width: 950px) {
  header {
    min-height: 650px;
  }
}
@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}